# Series

- pandas에서 사용하는 1차원 배열.
- index를 사용할 수 있다.

In [1]:
import pandas as pd
import numpy as np

In [4]:
arr = np.arange(100, 110)
print(arr)

[100 101 102 103 104 105 106 107 108 109]

In [5]:
s = pd.Series(arr) # pandas안의 Series클래스, 위에서 아래로 데이터를 쌓음, 기본적으로 인덱스 접근을 할 수 있게 만들어줌
print(s)

0    100
1    101
2    102
3    103
4    104
5    105
6    106
7    107
8    108
9    109
dtype: int64

In [8]:
s = pd.Series(arr, dtype='float32')
print(s)

0    100.0
1    101.0
2    102.0
3    103.0
4    104.0
5    105.0
6    106.0
7    107.0
8    108.0
9    109.0
dtype: float32

In [9]:
s = pd.Series(['kim', 'lee', 'park']) # pandas에서 stsring은 object라고 부름
print(s)

0     kim
1     lee
2    park
dtype: object

In [10]:
s = pd.Series([1, 2, 3, '1', '2', 'hello']) # 데이터는 각각 정수, 문자 이지만 전체 데이터는 넓은 범위의 데이터 형태로 자동으로 형변환
print(s)

0        1
1        2
2        3
3        1
4        2
5    hello
dtype: object

In [11]:
s[5]

'hello'

In [13]:
# 음수 인덱싱은 적용x, 양수만 가능
# s[-1]

In [15]:
s.index

RangeIndex(start=0, stop=6, step=1)

In [17]:
names = pd.Series(['kim', 'lee', 'park'], index=['a', 'b', 'c'])

In [21]:
# names[0] # 인덱스를 a,b,c로 지정했지만 0으로 불러와서 출력은 되지만 오류가 생김
names.iloc[0] # 인덱스를 설정했지만 숫자로 접근하기 위한 함수 .ilc() - indexlocation

'kim'

In [19]:
names['a']

'kim'

In [20]:
names.index # 인덱스 이름

Index(['a', 'b', 'c'], dtype='object')

In [23]:
names.values # 값

array(['kim', 'lee', 'park'], dtype=object)

In [24]:
names.ndim # 차원

1

In [25]:
names.shape

(3,)

## NaN(Not a Number)

In [26]:
s = pd.Series([1, 2, 3, np.nan])
print(s)

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

## fancy indexing

In [28]:
f = ['banana', 'apple', 'grape', np.nan]
s = pd.Series(f, index=list('abcd'))
print(s)

a    banana
b     apple
c     grape
d       NaN
dtype: object

In [30]:
s[['d', 'a']]

d       NaN
a    banana
dtype: object

In [33]:
# s[[3, 1]] # 오류
s.iloc[[3, 1]]

d      NaN
b    apple
dtype: object

## bool indexing

In [34]:
s

a    banana
b     apple
c     grape
d       NaN
dtype: object

In [36]:
s[[True, False, True, False]]

a    banana
c     grape
dtype: object

In [37]:
s == 'banana' # s안의 값이 'banana'면 True

a     True
b    False
c    False
d    False
dtype: bool

In [38]:
s[s == 'banana']

a    banana
dtype: object

In [40]:
s = pd.Series([1, 2, 3, 4, 5, 6])
s[s > 3]

3    4
4    5
5    6
dtype: int64

## 결측치(NaN) 처리

In [41]:
s = pd.Series([1, 3, np.nan, 10, 11, np.nan])
print(s)

0     1.0
1     3.0
2     NaN
3    10.0
4    11.0
5     NaN
dtype: float64

In [46]:
# s.isnull() # 값이 NaN이면 True
s.isna() # isnull()과 같은 의미의 코드

0    False
1    False
2     True
3    False
4    False
5     True
dtype: bool

In [47]:
# s[s.isnull()] # NaN값만 출력
s[s.isna()]

2   NaN
5   NaN
dtype: float64

In [48]:
# s[s.notnull()] # NaN이 아닌 값만 출력
s[s.notna()]

0     1.0
1     3.0
3    10.0
4    11.0
dtype: float64

## slicing

In [51]:
s[1:3]

1    3.0
2    NaN
dtype: float64

In [55]:
s = pd.Series([1, 2, 3], index=list('abc'))
s[1:2]
s['a':'b']

a    1
b    2
dtype: int64

# Dataframe
- 2차원 데이터 구조(excel, sheet 와 유사)
- 행(row), 열(column) 구조

In [57]:
d = pd.DataFrame([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
])
d

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [59]:
d = pd.DataFrame([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
], columns=['가', '나', '다'])
d

   가  나  다
0  1  2  3
1  4  5  6
2  7  8  9

In [60]:
info = {
    'name': ['kim', 'lee', 'park'],
    'age': [10, 20, 30]
}

In [62]:
info_df = pd.DataFrame(info) # 데이터의 길이가 맞지 않으면 맞지 않은 데이터 부분은 날아감

In [63]:
info_df.index

RangeIndex(start=0, stop=3, step=1)

In [64]:
info_df.columns

Index(['name', 'age'], dtype='object')

In [65]:
info_df.values

array([['kim', 10],
       ['lee', 20],
       ['park', 30]], dtype=object)

In [66]:
info_df.dtypes

name    object
age      int64
dtype: object

In [68]:
info_df.T

        0    1     2
name  kim  lee  park
age    10   20    30

## index 지정

In [70]:
info_df.index = list('abc') # 숫자로 하는게 일반적

In [71]:
info_df

   name  age
a   kim   10
b   lee   20
c  park   30

## column 다루기

In [73]:
info_df.columns

Index(['name', 'age'], dtype='object')

In [76]:
print(info_df['name'])
print(type(info_df['name'])) # 하나의 열을 출력하면 그 결과의 유형은 Series

a     kim
b     lee
c    park
Name: name, dtype: object
<class 'pandas.core.series.Series'>

In [77]:
info_df[['age', 'name']] # column의 fancy indexing

   age  name
a   10   kim
b   20   lee
c   30  park

In [84]:
info_df = info_df.rename(columns={'name': '이름'}) # 원본데이터는 바꾸지 않으므로 재할당 해야함

In [85]:
info_df

     이름  age
a   kim   10
b   lee   20
c  park   30

In [87]:
info_df.rename(columns={'이름': 'last_name'}, inplace=True) # 옵션으로 inplace=True를 지정하면 info_df의 원본 데이터도 바뀜

In [88]:
info_df

  last_name  age
a       kim   10
b       lee   20
c      park   30